certifi==2020.12.5
pdftotext==2.1.5
wincertstore==0.2

future~=0.18.2
zlib~=1.2.11
pygments~=2.8.1
docutils~=0.16
gettext~=0.19.8.1
dataclasses~=0.6
pip~=21.0.1
wheel~=0.36.2
brotli~=1.0.9
openssl~=1.1.1k
cryptography~=3.4.7
py~=1.10.0
lxml~=4.6.3
keyring~=22.3.0
typing_extensions~=3.7.4.3
pkginfo~=1.7.0
setuptools~=54.2.0
cython~=0.29.23
transformers~=2.11.0
scikit-learn~=0.24.1

-e git://github.com/ibeltagy/allennlp@fp16_and_others#egg=allennlp
jsonlines
lxml